.canvas > div {
	color: red
}

.row > div {
	padding: 10px;
}

.tablehead {
	font-weight: bold;
}

.motorcycle {
	text-decoration: underline;
}

.fast {
	font-style: italic;
}

#vw-passat {
	color: red;
}

#vw-passat .tablehead {
	font-weight: bold;
}
